---
title: Commerce Hacker
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>Your guide on ecommerce technology</h1>
    <p>Subscribe now and start receiving in-depth insider news and knowledge that will transform your business.</p>
  </div>
</div>


<div id="subscribe-box" class="container pt-2 pb-6">
  <div class="call">
    <div class="call-box-top">
       <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{
            background:#fff; 
            clear:left; 
            font:14px Helvetica,Arial,sans-serif; 
          }
          
          #mc_embed_signup .button{ 
            background-color: #FF3384;
            height: 3em;
          }

          #mc_embed_signup .button:hover{ 
            background-color: #AFA4DA; 
          }

          @media (max-width: 575px) {
            #mc_embed_signup input.email {width: 100%}
            #mc_embed_signup input.button { width: 80% }
          }
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://commercehacker.us19.list-manage.com/subscribe/post?u=cbf6b36b6beb0ee81d7c2ae36&amp;id=6b6945069f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Subscribe</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cbf6b36b6beb0ee81d7c2ae36_6b6945069f" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
      <!--End mc_embed_signup-->
    </div>    
  </div>
</div>

<div class="feature-list">
  <div class="container pt-5 pb-5 pt-md-7 pb-md-7">
    <div class="row justify-content-center">
      <!-- <div class="col-12">
        <h2 class="title-3 text-dark mb-4">Our Features</h2>
      </div> -->
      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="social-main container pt-6 pt-md-6">

<div class="social-desktop-parent">
  {% include social-proof-cards.html %}    
</div>

<div class="social-mobile-parent">
  {% include social-proof-mobile.html %}
</div>
  
</div>